
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>LIBRARY MANAGEMENT SYSTEM</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with home icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with login icon" (click)="openLogin()">
        <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar-row>
<router-outlet></router-outlet>