
<div class="container">
    <h1>CONTACT US</h1>
    <p class="mb-5">Need to get in touch with us?
       Either fill out the form<br>with you inquiry or
       find the departmnet email you'd <br> like to contact below.
    </p>
</div>

<mat-card class="example-card">
<div>
    <mat-form-field appearance="standard">
        <input matInput placeholder="First Name">
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field appearance="standard">
        <input matInput placeholder=" Last Name">
    </mat-form-field>
</div>
<p>
    <mat-form-field appearance="standard" style="width: 375px;">
        <input matInput placeholder="Email ">
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="standard" style="width: 375px;">
        <mat-label>what can we help?</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
</p>
<mat-card-actions align="start">
    <button mat-flat-button color="primary">Submit</button>
</mat-card-actions>
</mat-card>


