<app-navbar></app-navbar>

<div class="container">
  <!-- <img src="../../../assets/images/aboutus.jpg" alt="aboutus"> -->

  <div>
    <h1>Get To <span style="color: rgba(63, 81, 181, 0.7);">Know</span> Us</h1>
  </div>

  <div class="box">
    <div class="card-1">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Join the library</mat-card-title>
          <img>
        </mat-card-title-group>
        <mat-card-content>
          Our multicultural leaders have deep start-up
        </mat-card-content>
      </mat-card>
    </div><br>

    <div class="card-2">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Help</mat-card-title>
          <img>
        </mat-card-title-group>
        <mat-card-content>
          Our multicultural leaders have deep start-up
        </mat-card-content>
      </mat-card><br>
    </div>

    <div class="Card-3">
      <mat-card class="example-card">
        <mat-card-title-group>
          <mat-card-title>Ask a librarian</mat-card-title>
          <img>
        </mat-card-title-group>
        <mat-card-content>
          Our multicultural leaders have deep start-up
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>